.Calculator{
	width: 100%;
	form{
		margin-left: 40%;
		input{
			border: 1px solid $secondary-color;
			margin-right: 8px;
			margin-top: 70px;
			border-radius: 5px;
			font-size: 25px;
			padding: 3px;
		}
		button{
			border: 1px solid $secondary-color;
			border-radius: 5px;
			font-size: 25px;
			padding: 3px;
		}
	}
}
