div.CalculatorDescription{
  padding: 20px;
  margin-left: 15%;
  width: 80%;
  p{
    span{
      color: $paragraph-color;
    }
    a{
      text-decoration: none;
      color: $tertiary-color;
    }
  }
}
