
ul.row{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 0px;
	.clickcube{
		list-style-type: none;
		margin-left: 20px;
		margin-right:20px;
		a{
			text-decoration: none;
			p{
				white-space:nowrap;
				background-color: $background-color;
				border-radius: 5px;
				color: $font-color;
				width: 350px;
				height: 200px;
				line-height: 200px;
				border: 1px solid $secondary-color;
				text-align: center;
				vertical-align: middle;
			}
		}
	}
}
