.Calculator{
	width: 100%;
	form{
		margin-left: 40%;
		input{
   		border: 0;
			margin-right: 8px;
			margin-top: 70px;
			border-radius: 5px;
			padding: 3px;
			height: 25px;
		}
		button{
			border: 0;
			border-radius: 5px;
			padding: 3px;
		}
	}
}
