
.home{
	width: 400px;
	height: 400px;
	background-color: $background-color;
	border: .9px solid black;
	position: absolute;
	top: -200px;
	left: -200px;
	border-radius: 100%;
	transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
	z-index: 2147483647;
	&:hover{
		top: -300px;
		left: -300px;
		width: 600px;
		height: 600px;
	}
	p{
		padding-left: 57%;
		padding-top: 63%;
	}
}
