.flex{
	display: flex;
	justify-content: center;
}
.flexItem{
	margin-left: 20px;
	margin-right: 20px;
}
.Resume{
	text-align: center;
	background-color: $background-color-components;
	width: 90%;
	.ResumeFont{
		font-size: 20px;
	}
	.table{
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		tbody{
			tr{
				td{
					padding-left:10px;
					padding-right:10px;
				}
			}
		}
	}
	.Hobbies, .WorkExperience{
		margin-top: 40px;
	}
	.Informetric, .Campus, .BuenaOnda{
		text-decoration: none;
		p{
			margin-top: 30px;
			font-size: 30px;
		}
	}
}