$font-stack:    Helvetica, sans-serif;
$body-margins: 20%;
$text-color: #444444;
$centered: center;

body{
	font-family: $font-stack;
	margin-left: $body-margins;
	margin-right: $body-margins;
	color: $text-color;
}
#panel-title{
	color: $text-color;
}
li{
	list-style-type: none;
}
.layout-item{
	background-color: gray;
}
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
// .cursor-y {
//   cursor: ns-resize;
// }
// .cursor-x {
//   cursor: ew-resize;
// }
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.colormesilly {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}