$font-color: #FFE363;
$background-color: #CB0077;
$background-color-components: #009B95;
@import 'main';
@import 'home';
@import 'homeButton';
@import 'resume';
@import 'calculator';
@import 'intermediateArrays';
